# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Json Converter'
      'submenu': [
        {
          'label': 'Csv to JSON'
          'command': 'json-converter:csv-to-json'
        }
        {
          'label': 'Json to Csv'
          'command': 'json-converter:json-to-csv'
        }
        {
          'label': 'Yaml to Json'
          'command': 'json-converter:yaml-to-json'
        }
        {
          'label': 'Json to Yaml'
          'command': 'json-converter:json-to-yaml'
        }
        {
          'label': 'Csv to Elasticsearch bulk Index format'
          'command': 'json-converter:csv-to-elasticsearch-bulk-index-format'
        }
        {
          'label': 'Csv to Elasticsearch bulk Create'
          'command': 'json-converter:csv-to-elasticsearch-bulk-create-format'
        }
        {
          'label': 'Csv to Elasticsearch bulk Delete format'
          'command': 'json-converter:csv-to-elasticsearch-bulk-delete-format'
        }
        {
          'label': 'Csv to Elasticsearch bulk Update format'
          'command': 'json-converter:csv-to-elasticsearch-bulk-update-format'
        }
      ]
    ]
  }
]
